@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F8F9FB;
  color: #1A1D1F;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
  width: 100%;
}